.layout {
  min-height: 100vh;
  display: grid;
  grid-template-areas: "nav nav" "sidebar content" "sidebar content";
  grid-template-columns: 15% 85%;
  grid-template-rows: 3.6rem 1fr;

  @include from(xl) {
    grid-template-columns: 30% 70%;
  }

  @include from(m) {
    grid-template-areas: "nav" "content" "content";
    grid-template-columns: 100%;
  }

  &-content {
    grid-area: content;
    padding: 2rem 2rem 0 2rem;
  }
}

.l-form {
  background-color: #0E1726;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.l-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.l-error {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 8rem;
    margin-bottom: 2rem;
  }
}

.l-profit {

}
