.layout {
  min-height: 100vh;
  display: grid;
  grid-template-areas: "nav nav" "sidebar content" "sidebar content";
  grid-template-columns: 15% 85%;
  grid-template-rows: 3.6rem 1fr;

  &-content {
    grid-area: content;
  }
}
