.bucket {
  width: 25rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-img {
    width: 15rem;
  }

  &-footer {
    position: relative;
  }

  &-loader {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
  }

  &-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    p {
      font-size: 1.2rem;
      margin: 0.6rem;
    }
  }

  &-price {
    font-size: 1.5rem;
  }
  &-icon {
    font-size: 1.5rem;
    margin-right: 0.1rem;
  }
}
