.dropdown {
  position: relative;

  &-icon {
    width: 20px;
    height: 20px;
    color: #e0e6ed;
  }
  &-disabled {
    display: none;
    @include from(xl) {
      display: inline-block;
    }
  }
  &-user {
    display: flex;
    cursor: pointer;
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        margin-right: 5px;
        color: #e0e6ed;

        @include from(xl) {
          display: none;
        }
      }
    }
    img {
      border-radius: 50%;
      height: 50px;
      margin-left: 8px;
    }
  }

  &-list {
    position: absolute;
    top: 2.8rem;
    right: 0;
    width: 160px;
    background-color: #1A1C2D;
    border: 1px solid #0e1726;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  &-item {
    a {
      width: 100%;
      display: inline-block;
      padding: 10px 24px;
      color: #e0e6ed;
      transition: .6s ease-in-out;
      border-radius: 10px;
      &:hover {
        transition: .6s ease-in-out;
        background-color: #3B3F5C;
      }
    }
  }
}
