.home {
  &-statistics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1.5rem;
  }

  &-icon {
    width: 60px;
    height: 60px;
    color: #506690;
  }
}
