.modal {
  &-close {
    font-size: 2rem;
    color: #fbfbfe;
    position: absolute;
    right: 2rem;
    top: 2rem;
    cursor: pointer;

    &:hover {
      color: #0A51A1;
    }
  }
}
.overlay {
  background-color: rgba(0,0,0,.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  transition: all .5s ease-in-out;
  transform: scale(0);
  overflow-x: auto;
}

.active {
  transition: all .5s ease-in-out;
  transform: scale(1);
}
