*,*::before,*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #060818;
  font-family: 'Nunito', sans-serif;
  color:#888ea8;
}

body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background: #283048;
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  width: 10px;
  background-color: #757F9A;
  &:hover {
    background-color: #0A51A1;
  }
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

ol {
  padding-left: 0;
}

a,li,ul {
  text-decoration: none;
}
