.form {
  background-color: #060818;
  padding: 3rem 2rem;
  width: 450px;
  border-radius: 20px;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-img {
    width: 10rem;
    margin-bottom: 2rem;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &-message {
    color: #fbfbfe;
    text-align: center;
  }
  @include from(s) {
    width: 100%;
    padding: 2rem 1rem;
    &-img {
      width: 8rem;
      margin-bottom: 2rem;
    }
  }
}

.input {
  background-color: transparent;
  border: 1px solid #1b2e4b;
  padding: 0.7rem 2rem;
  border-radius: 10px;
  width: 100%;
  outline: none;
  color: #e0e6ed;
  margin: 1rem;
  &:focus {
    border: 1px solid #0A51A1;
  }
}

.particle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bottom {
  margin-bottom: 2rem;
}

.shimmer-effect {
  height: 130px;
  width: 100%;
  background: #090b1f;
  background-image: linear-gradient(to right, #090b1f 0%, darken(#090b1f, 0.5) 20%, #090b1f 40%, #090b1f 100%);
  background-repeat: no-repeat;
  background-size: 800px 104px;
  display: inline-block;
  position: relative;

  animation-name: shimmer;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  @keyframes shimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }
}

.loader-bucket {
  height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.wallet_link {
  color: #888ea8;
  &:hover {
    text-decoration: underline;
    color: #060f69;
  }
}